*{
      padding: 0;
      margin: 0;
      font-family: 'Roboto', 'Helvetica', sans-serif;
      font-size: 18px;
    }

    body {
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    h1 {
      height: 100px;;
    }

    .table-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    table{
      table-layout: fixed;
      width: 100%;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      border-collapse: collapse;
      margin-top: 10px;
      text-align: center;
      overflow: hidden;
    }

    thead tr td{
      padding: 20px;
    }

    thead:nth-child(n) {
      background-color: rgba(14, 81, 1, 0.363);
    }

    tbody tr:nth-child(odd) {
      background-color: rgb(218, 218, 218);
      text-align: center;
    }

    tbody tr td {
      padding: 30px;
    }

    td {
      border: 1px solid green;
    }

    .input-container {
      text-align: center;
    }

    input {
      text-align: center;
      padding: 10px;
    }

    .add-btn {
      padding: 10px;
      margin-top: 10px;
      color: green;
      background-color: white;
      border: 1px solid green;
      border-radius: 10px;
      transition: all .3s ease-out;
    }

    .add-btn:hover {
      color: white;
      background-color: green;
    }

    .delete-btn {
      background-color: red;
      color: white;
      border: none;
      border-radius: 6px;
      padding: 8px 12px;
      cursor: pointer;
    }

    .delete-btn:hover {
      background-color: darkred;
    }