<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Press Start 2p", system-ui;
}

body {
  overflow: hidden;
}

nav {
  height: 60px;
  background-color: rgba(92, 205, 254, 0.595);
  backdrop-filter: blur(12px);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 998;
}

.links-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  z-index: 999;
}

nav a {
  color: #0068b3;
  text-decoration: none;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 0 20px;
}

nav svg {
  fill: rgb(0, 174, 255);
}

.open-sidebar-button,
.close-sidebar-button {
  display: none;
}

#ham-active {
  display: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background: url('/img/pokemon-bg.jpg') no-repeat center fixed;
  background-size: cover;
  min-height: 100vh;
  justify-content: center;
}

input {
  padding: 10px;
  border-radius: 10px;
  outline: none;
  border:2px solid rgba(0, 0, 0, 0.595);
  box-shadow: inset 1px 1px 5px rgb(46, 105, 194);
}

input[type="text"]:focus {
  background-color: rgb(240, 248, 255);
}

button {
  background: linear-gradient(
    to bottom,
    hsl(205, 100%, 53%),
    #2da4f8,
    #4db5ff
  );
  border: 1px solid #4f7c6e;
  color: rgb(255, 255, 255);
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 0 hsl(205, 100%, 53%),
              0 5px 0 hsl(205, 100%, 40%),
              0 10px 0 hsl(205, 100%, 30%);
  text-shadow: 0 -1px 0 hsl(205, 100%, 20%);
  margin-bottom: 15px;
}

button:active {
  transform: translateY(5px);
  box-shadow: 0 1px 0 hsl(205, 100%, 53%),
              0 2px 0 hsl(205, 100%, 40%),
              0 5px 0 hsl(205, 100%, 30%);;
}

main img {
  width: 100px;
  height: 100px;
  display: none;
}

main img.active {
  display: block;
}

#showPokemon {
  white-space: pre-line;
  display: flex;
  align-items: center;
}

#pokemonImg {
  background-color: rgba(0, 104, 179, 0.464);
  
  border-radius: 10px;
  /* position: relative;
  z-index: 1; */
}

/* Media */
@media (max-width: 972px) {
  .links-container {
  display: flex; /* always present */
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;

  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 300px;

  background-color: rgba(158, 225, 254);
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.521);

  transform: translateX(100%); /* hidden */
  transition: transform 0.4s ease;

  z-index: 9999; /* important */
}

  nav a {
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 20px 30px;
    color: rgb(0, 0, 0);
    justify-content: flex-start;
    border-radius: 10px;
    transition: all 0.3s ease-out;
  }

  nav a:hover {
    background-color: #0068b3;
    color: #ffffff;
    
  }

  nav svg {
    fill: #ffffff;
  }

  .open-sidebar-button, 
  .close-sidebar-button {
    padding: 20px;
    display: block;
  }

  #ham-active:checked ~ .links-container {
    transform: translateX(0);
  }

=======
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Press Start 2p", system-ui;
}

body {
  overflow: hidden;
}

nav {
  height: 60px;
  background-color: rgba(92, 205, 254, 0.595);
  backdrop-filter: blur(12px);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 998;
}

.links-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  z-index: 999;
}

nav a {
  color: #0068b3;
  text-decoration: none;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 0 20px;
}

nav svg {
  fill: rgb(0, 174, 255);
}

.open-sidebar-button,
.close-sidebar-button {
  display: none;
}

#ham-active {
  display: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background: url('/img/pokemon-bg.jpg') no-repeat center fixed;
  background-size: cover;
  min-height: 100vh;
  justify-content: center;
}

input {
  padding: 10px;
  border-radius: 10px;
  outline: none;
  border:2px solid rgba(0, 0, 0, 0.595);
  box-shadow: inset 1px 1px 5px rgb(46, 105, 194);
}

input[type="text"]:focus {
  background-color: rgb(240, 248, 255);
}

button {
  background: linear-gradient(
    to bottom,
    hsl(205, 100%, 53%),
    #2da4f8,
    #4db5ff
  );
  border: 1px solid #4f7c6e;
  color: rgb(255, 255, 255);
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 0 hsl(205, 100%, 53%),
              0 5px 0 hsl(205, 100%, 40%),
              0 10px 0 hsl(205, 100%, 30%);
  text-shadow: 0 -1px 0 hsl(205, 100%, 20%);
  margin-bottom: 15px;
}

button:active {
  transform: translateY(5px);
  box-shadow: 0 1px 0 hsl(205, 100%, 53%),
              0 2px 0 hsl(205, 100%, 40%),
              0 5px 0 hsl(205, 100%, 30%);;
}

main img {
  width: 100px;
  height: 100px;
  display: none;
}

main img.active {
  display: block;
}

#showPokemon {
  white-space: pre-line;
  display: flex;
  align-items: center;
}

#pokemonImg {
  background-color: rgba(0, 104, 179, 0.464);
  
  border-radius: 10px;
  /* position: relative;
  z-index: 1; */
}

/* Media */
@media (max-width: 972px) {
  .links-container {
  display: flex; /* always present */
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;

  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 300px;

  background-color: rgba(158, 225, 254);
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.521);

  transform: translateX(100%); /* hidden */
  transition: transform 0.4s ease;

  z-index: 9999; /* important */
}

  nav a {
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 20px 30px;
    color: rgb(0, 0, 0);
    justify-content: flex-start;
    border-radius: 10px;
    transition: all 0.3s ease-out;
  }

  nav a:hover {
    background-color: #0068b3;
    color: #ffffff;
    
  }

  nav svg {
    fill: #ffffff;
  }

  .open-sidebar-button, 
  .close-sidebar-button {
    padding: 20px;
    display: block;
  }

  #ham-active:checked ~ .links-container {
    transform: translateX(0);
  }

>>>>>>> 09d47c9b0064b2eaffe864e8f713517595b53fd7
}